
.img{


    width: 300px;
    height: 250px;
}
.div_loading{



    width: 100vw;
    height: 100vh;
    background-color: rgb(61, 160, 226);
    display: none;
    justify-content: center;
    align-items: center;
    
}
.loading{

    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.mostrar_loading{


    display: flex;
}
